
<ul>
<%@questions.each do |question|%>
    <a href = '/questions/<%=question.id%>'><li><%=question.title%></li>
    <%if !question.student.nil?%>
        <li><%=question.student.username%></li>
    <%end%>
    </a>
<%end%>
</ul>

