<form method="POST" action="/questions">
    <label>Title</label>
    <input type= "text" name= "title">
    <br>
    <label>Lab Name</label>
    <input type= "text" name= "lab">
    <br>
    <label>Link</label>
    <input type= "text" name= "link">
    <br>
    <label>Content</label>
    <input type= "textarea" name= "content">
    <br>

    <input type= "submit" value = "Submit">   
</form>
