<!DOCTYPE html>
<html class="gr__app_greenhouse_io"><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}</style>
<script>

</script>
<script id="__webpack_config__" data-asset-url="https://cdn.greenhouse.io/assets/webpack/" data-git-sha="87c1fef96183ef6f8e330a877d035024fbe2c20f" type="text/configuration"></script><script src="https://cdn.greenhouse.io/assets/webpack/vendor-43659339b7241a0ee823.js"></script><script src="https://cdn.greenhouse.io/assets/webpack/commons-a477463c11a73b46a2fd.js"></script><link rel="stylesheet" media="screen" href="https://cdn.greenhouse.io/assets/webpack/commons-12fe963b57640e59bdbd364aad4353e2.css">

</script>
<script src="https://cdn.greenhouse.io/assets/webpack/legacy_tracking-97fb627bca088effed15.js"></script>
<script src="https://cdn.greenhouse.io/assets/content_security_policy_helper-34f8c79790742b07518ab2cacdd6e2c2d6ef6727cfeb7e1dfaa0f740bd266fa5.js"></script>
<script src="https://cdn.greenhouse.io/assets/application-e523140f3d56ff1b198e169393aa24331be532795b5e9bb37ac4bdf1f979fd51.js"></script>
  <link rel="stylesheet" media="all" href="https://cdn.greenhouse.io/assets/application-7c5480bbbf32c338ec347de130749fe4fd104219c144fef3264507de0776737b.css">

<title>Comments | Learn/OverFlow</title>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300" rel="stylesheet" type="text/css">

  <script>

</script>
  <link rel="stylesheet" media="screen" href="https://cdn.greenhouse.io/assets/all_jobs-46cadfe10a9504cc51ff859b8d32e501613f8017ace8aa96da80a101af090e5a.css">
<script class="js-metadata processed" data-key="application_review_path" data-type="string" data-value="/application_review?hiring_plan_id={{id}}" data-handlebars="true" ng-non-bindable="" type="text/configuration"></script>
<script src="https://cdn.greenhouse.io/assets/content_security_policy_helper-34f8c79790742b07518ab2cacdd6e2c2d6ef6727cfeb7e1dfaa0f740bd266fa5.js"></script>  
<style>
    .button {
        background-color: #00b3e6;
        border: none;
        color: white;
        padding: 8px 16px;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        opacity: 0.6;
        transition: 0.3s;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
    }

    .button:hover {opacity: 1}
    .link {
        background-color: #00b3e6;
    }
    .link:hover {opacity: 1}

    input[type=textarea] {
    width: 100%;
    padding: 100px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

</style>
</head>
<body>
    <ul>

  </div>
<div class="cfp-hotkeys-container fade ng-scope" ng-class="{in: helpVisible}" style="display: none;"><div class="cfp-hotkeys"><!-- ngIf: !header --><h4 class="cfp-hotkeys-title ng-binding ng-scope" ng-if="!header">Keyboard Shortcuts:</h4><!-- end ngIf: !header --><!-- ngIf: header --><table><tbody><!-- ngRepeat: hotkey in hotkeys | filter:{ description: '!$$undefined$$' } --><tr ng-repeat="hotkey in hotkeys | filter:{ description: '!$$undefined$$' }" class="ng-scope"><td class="cfp-hotkeys-keys"><!-- ngRepeat: key in hotkey.format() track by $index --><span ng-repeat="key in hotkey.format() track by $index" class="cfp-hotkeys-key ng-binding ng-scope">?</span><!-- end ngRepeat: key in hotkey.format() track by $index --></td><td class="cfp-hotkeys-text ng-binding">Show / hide this help menu</td></tr><!-- end ngRepeat: hotkey in hotkeys | filter:{ description: '!$$undefined$$' } --><tr ng-repeat="hotkey in hotkeys | filter:{ description: '!$$undefined$$' }" class="ng-scope"><td class="cfp-hotkeys-keys"><!-- ngRepeat: key in hotkey.format() track by $index --><span ng-repeat="key in hotkey.format() track by $index" class="cfp-hotkeys-key ng-binding ng-scope">/</span><!-- end ngRepeat: key in hotkey.format() track by $index --></td><td class="cfp-hotkeys-text ng-binding">Focus the search bar</td></tr><!-- end ngRepeat: hotkey in hotkeys | filter:{ description: '!$$undefined$$' } --></tbody></table><!-- ngIf: footer --><div class="cfp-hotkeys-close" ng-click="toggleCheatSheet()">×</div></div></div></div>

  <div id="subheader">
    <div class="container">
        Learn/Overflow

    </div>
  </div>

<div id="flash_wrapper">
</div>


  
<div id="horiz_nav"     style=" border-bottom: 2px solid #00b3e6"> 
  <div class="container"> 
      
<ul class="nav">
  <li class="selected link"><a href="http://learn.co" class = "link">Learn</a></li>
  <li class="selected link"><a href="/questions" class = "link">Questions</a></li>
  <li class="selected link"><a href="/comments" class = "link">Comments</a></li>
  <li class="selected link"><a href="/profile" class = "link">Profile</a></li>
</ul>


    <div class="right-nav">
    </div>
  </div>
</div>

<div id="wrapper" style="margin-top: 100;">
<% if flash.has?(:error) %>
  <%= flash[:error] %>
<% end %>

<div class="job-setup-container">
  <div class="content-box content-box-alt">
    <div class="header">
        <h4>Add your question below</h4>
    </div>
<form method="POST" action="/questions">
    <input type= "text" name= "title" placeholder= "Question">
    <br><br>
    <input type= "text" name= "lab" placeholder = "Lab's name">
    <br><br>
    <input type= "text" name= "link" placeholder = "Lab's link">
    <br><br>
    <input type= "textarea" name= "content" placeholder = "Details about the questions, this is where you can show your code.">
    <br><br>

    <button class = "button" type="submit" value="Submit">Submit</button>   
</form>
    
</div>


 </div>
</div>
</body>
</html>