PLEASE LOGIN HERE:
<form method="POST" action="/login">
    <label>Username</label>
    <input type= "text" name= "username">
    <label>Password</label>
    <input type= "text" name= "password"> 
    <br>
    <input type= "submit" value = "Submit">   
</form>