<html class="gr__app_greenhouse_io">

<head>
<style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}
</style>
<script type="text/javascript" src="https://bam.nr-data.net/1/67fa338dfa?a=935435&amp;sa=1&amp;v=1044.a6554e7&amp;to=IVpXTRMLXgoBQRZLXRFGUFYPFx0IAUQ%3D&amp;rst=480&amp;ref=https://app.greenhouse.io/users/sign_in&amp;qt=1&amp;ap=30&amp;be=225&amp;fe=434&amp;dc=312&amp;af=err,xhr,stn,ins&amp;perf=%7B%22timing%22:%7B%22of%22:1524748534894,%22n%22:0,%22u%22:146,%22ue%22:146,%22f%22:16,%22dn%22:17,%22dne%22:17,%22c%22:17,%22s%22:29,%22ce%22:72,%22rq%22:77,%22rp%22:132,%22rpe%22:143,%22dl%22:150,%22di%22:297,%22ds%22:297,%22de%22:327,%22dc%22:432,%22l%22:433,%22le%22:434%7D,%22navigation%22:%7B%22ty%22:1%7D%7D&amp;at=GRdMG1sfEBQBQkxdSxZqUF1DXhBWBQoLDwlUBQENVQYCVVwHCwgKWgJaCQUFAQACBAkBDUAZG0oEFkQDFmxXWVUHFwMbABRCSANBXF1WClpMSgRKWwlGHxtQTBZFF0wSAUA5BVRcVkxADxt0Dh5bCghSFg0WUhURdAAHWwgQXEpQA0J8V00ECBIrBVAZd2tCbRkIUTsDVTsHEBh5EkVVXDYBUC0NRxYNC1UbCg9BTHkuMH51FBgOXFJcQSNXBQ9cEBh7CkdWVARLBFNKAxcLC1AAFwhZVRI1BVVYSlFNAAoOT1cEREgRUUxMEhtfVhMJUxJGCRtMXRpBFlEVCV5ESBFdWUwDUVZePgddCBBBVlRUB0dmTRgUV0ReEUxLXRAXREQ%3D&amp;jsonp=NREUM.setToken"></script><script src="https://js-agent.newrelic.com/nr-1044.min.js"></script><script type="text/javascript" async="" src="https://ssl.google-analytics.com/ga.js"></script><script async="" src="//datacoral.com/instrumentation/js/1.0.0/dc.js"></script><script type="text/javascript">window.NREUM||(NREUM={});NREUM.info={"beacon":"bam.nr-data.net","errorBeacon":"bam.nr-data.net","licenseKey":"67fa338dfa","applicationID":"935435","transactionName":"IVpXTRMLXgoBQRZLXRFGUFYPFx0IAUQ=","queueTime":1,"applicationTime":30,"agent":"","atts":"GRdMG1sfEBQBQkxdSxZqUF1DXhBWBQoLDwlUBQENVQYCVVwHCwgKWgJaCQUFAQACBAkBDUAZG0oEFkQDFmxXWVUHFwMbABRCSANBXF1WClpMSgRKWwlGHxtQTBZFF0wSAUA5BVRcVkxADxt0Dh5bCghSFg0WUhURdAAHWwgQXEpQA0J8V00ECBIrBVAZd2tCbRkIUTsDVTsHEBh5EkVVXDYBUC0NRxYNC1UbCg9BTHkuMH51FBgOXFJcQSNXBQ9cEBh7CkdWVARLBFNKAxcLC1AAFwhZVRI1BVVYSlFNAAoOT1cEREgRUUxMEhtfVhMJUxJGCRtMXRpBFlEVCV5ESBFdWUwDUVZePgddCBBBVlRUB0dmTRgUV0ReEUxLXRAXREQ="}</script>
    <script>
//<![CDATA[

  window.GHNR = {
    jsLicenseKey: "67fa338dfa",
    applicationId: "935435"
  }

//]]>
</script>
<script id="__webpack_config__" data-asset-url="https://cdn.greenhouse.io/assets/webpack/" data-git-sha="0e58f3049debe3b7375d40c27ba7571c1730f684" type="text/configuration"></script><script src="https://cdn.greenhouse.io/assets/webpack/vendor-648ab3d5383f874d28d1.js"></script><script src="https://cdn.greenhouse.io/assets/webpack/commons-e34868e1e369590701ad.js"></script><link rel="stylesheet" media="screen" href="https://cdn.greenhouse.io/assets/webpack/commons-12fe963b57640e59bdbd364aad4353e2.css">
  <script>
//<![CDATA[
;(function(p,l,o,w,i,n,g){if(!p[i]){p.GlobalSnowplowNamespace=p.GlobalSnowplowNamespace||[];p.GlobalSnowplowNamespace.push(i);p[i]=function(){(p[i].q=p[i].q||[]).push(arguments)};p[i].q=p[i].q||[];n=l.createElement(o);g=l.getElementsByTagName(o)[0];n.async=1;n.src=w;g.parentNode.insertBefore(n,g)}}(window,document,"script","//datacoral.com/instrumentation/js/1.0.0/dc.js","datacoral"));
if (window.datacoral) {
  window.datacoral(
    'newTracker',
    'ghr-tracker',
    'events.greenhouse.datacoral.io',
    {
      appId: 'ghr',
      platform: 'desktop',
      apiKey: 'PRVUsdIc23r0uCogkqR7nf4lwAv0OyFHrPpveLRQ',
      datacoralEnv: 'prod',
      forceSecureTracker: true,
      post: true,
      contexts: {
        webPage: true,
        gaCookies: true,
        performanceTiming: true,
        geolocation: false
      }
    }
  );
  window.DATACORAL_USER_ID = '';
  window.DATACORAL_ORG_ID = '';
  window.datacoral('setUserId', window.DATACORAL_USER_ID);
  window.datacoral('trackPageView');
}

//]]>
</script>
<script src="https://cdn.greenhouse.io/assets/webpack/legacy_tracking-381630bd5860b6519fb7.js"></script>

<script class="js-metadata processed" data-key="Config.Recurly.public_key" data-type="string" data-value="ewr1-1Jgb7fceABJns66r4gLlw6" type="text/configuration"></script>
<script class="js-metadata processed" data-key="Routes.export_status_path" data-type="string" data-value="/people/export_status" type="text/configuration"></script>
<script class="js-metadata processed" data-key="Routes.report_status_path" data-type="string" data-value="/reports/status" type="text/configuration"></script>
<script class="js-metadata processed" data-key="Routes.search_bar_path" data-type="string" data-value="/people/search_bar" type="text/configuration"></script>
<script class="js-metadata processed" data-key="Routes.search_bar_redirect_path" data-type="string" data-value="/people/search_bar/redirect" type="text/configuration"></script>
<script class="js-metadata processed" data-key="Routes.tags_path" data-type="string" data-value="/tags" type="text/configuration"></script>
<script class="js-metadata processed" data-key="Routes.hiring_plans_path" data-type="string" data-value="/plans" type="text/configuration"></script>
<script class="js-metadata processed" data-key="Routes.jobs_filter_list_path" data-type="string" data-value="/jobs_filter_list" type="text/configuration"></script>
<script class="js-metadata processed" data-key="Routes.departments_path" data-type="string" data-value="/departments" type="text/configuration"></script>
<script class="js-metadata processed" data-key="Routes.offices_path" data-type="string" data-value="/offices" type="text/configuration"></script>
<script class="js-metadata processed" data-key="Routes.office_options_path" data-type="string" data-value="/office_options" type="text/configuration"></script>
<script class="js-metadata processed" data-key="Routes.paginated_office_options_path" data-type="string" data-value="/office_options/paginated" type="text/configuration"></script>
<script class="js-metadata processed" data-key="Routes.department_options_path" data-type="string" data-value="/department_options" type="text/configuration"></script>
<script class="js-metadata processed" data-key="Routes.people_custom_field_options_path" data-type="string" data-value="/people/custom_field_options" type="text/configuration"></script>
<script class="js-metadata processed" data-key="Routes.describe_custom_field_path" data-type="string" data-value="/custom_fields/{{id}}/describe" type="text/configuration"></script>
<script class="js-metadata processed" data-key="Routes.application_stage_interviews_path_template" data-type="string" data-value="/application_stages/{{id}}/interviews" type="text/configuration"></script>
<script class="js-metadata processed" data-key="Routes.change_application_state_path_template" data-type="string" data-value="/people/{{personId}}/applications/{{appId}}/change_state" type="text/configuration"></script>
<script class="js-metadata processed" data-key="Routes.create_task_path_template" data-type="string" data-value="/tasks?hiring_plan_id={{id}}" type="text/configuration"></script>
<script class="js-metadata processed" data-key="Routes.destroy_task_path_template" data-type="string" data-value="/tasks/{{id}}" type="text/configuration"></script>
<script class="js-metadata processed" data-key="Routes.remove_department_modal_path_template" data-type="string" data-value="/account/organization/departments/{{id}}/remove" type="text/configuration"></script>
<script class="js-metadata processed" data-key="Routes.remove_office_modal_path_template" data-type="string" data-value="/account/organization/offices/{{id}}/remove" type="text/configuration"></script>
<script class="js-metadata processed" data-key="Routes.single_search_result_path_template" data-type="string" data-value="/applications/{{appId}}/result" type="text/configuration"></script>
<script class="js-metadata processed" data-key="Routes.update_task_path_template" data-type="string" data-value="/tasks/{{id}}" type="text/configuration"></script>
<script class="js-metadata processed" data-key="Routes.update_task_status_path_template" data-type="string" data-value="/tasks/{{id}}/status" type="text/configuration"></script>
<script class="js-metadata processed" data-key="Routes.hiring_plan_stages_json_path_template" data-type="string" data-value="/add_person/hiring_plans/{{id}}/stages" type="text/configuration"></script>
<script class="js-metadata processed" data-key="Routes.people_gdpr_compliant_candidate_path" data-type="string" data-value="/people/gdpr_compliant_candidate?hiring_plans={{hiring_plans}}&amp;offices={{offices}}" type="text/configuration"></script>
<script class="js-metadata processed" data-key="Routes.people_gdpr_compliant_prospect_index_path" data-type="string" data-value="/people/gdpr_compliant_prospect" type="text/configuration"></script>
<script class="js-metadata processed" data-key="Routes.hiring_plan_job_admins_path_template" data-type="string" data-value="/add_person/hiring_plans/{{id}}/job_admins" type="text/configuration"></script>
<script class="js-metadata processed" data-key="Routes.office_hiring_plans_path_template" data-type="string" data-value="/add_person/offices/{{id}}/hiring_plans" type="text/configuration"></script>
<script class="js-metadata processed" data-key="Icons.following" data-type="string" data-value="https://cdn.greenhouse.io/assets/icons/new/following-05cf791c9ca3f79b0c406743f99b66db29cc9fbd4148da05c6e704cbe0b39470.png" type="text/configuration"></script>
<script class="js-metadata processed" data-key="Icons.ajax_spinner" data-type="string" data-value="https://cdn.greenhouse.io/assets/new/ajax-spinner-7dfb428d2f297c9ec34fb84ead3758cd0712caab6ac7e2c3855bcdf67234fb4d.gif" type="text/configuration"></script>
<script class="js-metadata processed" data-key="Routes.Person.person_attachment_path_template" data-type="string" data-value="/applications/{{id}}/attachments/{{attachment_id}}" type="text/configuration"></script>
<script src="https://cdn.greenhouse.io/assets/content_security_policy_helper-34f8c79790742b07518ab2cacdd6e2c2d6ef6727cfeb7e1dfaa0f740bd266fa5.js"></script>
<script src="https://cdn.greenhouse.io/assets/application-370552d8ec78dcac9bb729a3fa84e6d08ffc107212f4b55ed14155ee0c21c080.js"></script>

<meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="k0BwZBjMMYQkD1vaBeYCaEEi3RjMYnomrcoL37gOQWX1oqKetGdxaR8kl0vamuz5u49UqaHWhuLQoW3EYOVVZA==">

<title>Sign In | Greenhouse</title>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300" rel="stylesheet" type="text/css">
<link rel="apple-touch-icon" href="/apple-touch-icon-precomposed.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72-precomposed.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114-precomposed.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144-precomposed.png">
<meta name="description" content="Finally, recruiting software that works the way you want it to. Greenhouse gets it.">
<meta name="title" content="Greenhouse">
<meta name="keywords" content="applicant tracking system, ATS, applicant tracking software, saas applicant tracking, interview planning software, Greenhouse, Greenhouse.io, hiring software, hiring system, recruitment software">
<meta property="og:title" content="Greenhouse">
<meta property="og:type" content="website">
<meta property="og:image" content="http://www.greenhouse.io/apple-touch-icon-144x144-precomposed.png">
<meta property="og:description" content="Finally, recruiting software that works the way you want it to. Greenhouse gets it.">

<meta name="apple-itunes-app" content="app-id=1112028249">

<meta data-name="native-mobile-agent" data-content="">



<!-- Allows mobile browsers to show a 'smart banner' to prompt install of android app -->
<link rel="manifest" href="/mobile/banner/android_manifest.json">

  <script>
//<![CDATA[

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-31511427-2']);
    _gaq.push(['_setDomainName', 'greenhouse.io']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

//]]>
</script>
  <script src="https://cdn.greenhouse.io/assets/login/app-771e2adfbe556e145ce810607b5d66bd80ff8663793eff13e7190a5fe3404f5a.js"></script>


    <link rel="stylesheet" media="screen" href="https://cdn.greenhouse.io/assets/session-20a622faf1e10e35dd1d2938e2bbe1cabfcbdf25b91604dd0eef37de81c5f270.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
  </head>

  <body data-gr-c-s-loaded="true" style="background-color:#00b3e6">
  
    <div id="flash_wrapper">
</div>

    <div class="page-wrapper">

      <div class="content-wrapper">
        

<!--[if IE 8]>
<div class="warning-banner">
  <h4>Uh Oh!</h4>
  <p>
   It looks like we don't support your web browser.  Try installing one of these supported browsers instead:
  </p>

  <ul class="square" style="margin-top: 5px">
    <li><a href="https://www.google.com/intl/en/chrome/browser/">Google Chrome</a></li>
    <li><a href="http://www.mozilla.org/en-US/firefox/new/">Mozilla Firefox</a></li>
    <li><a href="http://www.opera.com/">Opera</a></li>
  </ul>
</div>
<![endif]-->


<%# <div class="header-text">
  <h1>Join us.</h1>
</div>

<form id="sign_in_form"  class="new_user" action="/signup" accept-charset="UTF-8" method="post">
  <div class="form-wrapper" id="email_section"  data-submit-path="/signup" style="display: block;">
<div class="input-container">
    <input placeholder="First Name" autofocus="autofocus" type="text" value="" name="first_name" id="user_email">
  </div>
  <div class="input-container">
    <input placeholder="Username" autofocus="autofocus" type="text" value="" name="username" id="user_email">
  </div>
  <div class="input-container">
    <input placeholder="Profile Picture" autofocus="autofocus" type="text" value="" name="image" id="user_email">
  </div>
  <div class="input-container">
    <input placeholder="Github link" autofocus="autofocus" type="text" value="" name="github" id="user_email">
  </div>
  <div class="input-container">
    <input placeholder="Password" autofocus="autofocus" type="text" value="" name="password" id="user_email">
  </div>

  <div class="button-wrapper">
    <button id="submit_email_button" style = "background-color: #3a3a3a" >
      <span>Sign up Now!</span>
    </button>
  </div>
</form> %>
  

  <div class="button-wrapper">
    <button id="submit_email_button" style = "background-color: #3a3a3a" >
      <a href="https://github.com/login/oauth/authorize?scope=user:email&client_id=<%= client_id %>">SIGN UP USING GITHUB</a>
    </button>
  </div>
</html>

