PLEASE SIGN UP HERE:
<form method="POST" action="/signup">
    <label>First Name</label>
    <input type= "text" name= "first_name">
    <br>
    <label>Profile Picture (link of image)</label>
    <input type= "text" name= "image">
    <br>
    <label>Username</label>
    <input type= "text" name= "username">
    <br>
    <label>Github Profile</label>
    <input type= "text" name= "github">
    <br>
    <label>Password</label>
    <input type= "text" name= "password"> 
    <br>
    <input type= "submit" value = "Submit">   
</form>