<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" class="gr__greenhouse_io"><head>
	
		<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

<title>Learn/Overflow | StackOverflow for Students</title>

<!-- Fix this icon for the title--><link rel="icon" type="image/png" href="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/999/s300/flatironschool.png" sizes="16x16">
<meta name="msapplication-TileColor" content="#00b3e6">
<meta name="msapplication-TileImage" content="https://prod-marketing-greenhouse.global.ssl.fastly.net/site/images/favicons/mstile-144x144.png">
<meta name="theme-color" content="#00b3e6">
		<link rel="stylesheet" href="https://prod-marketing-greenhouse.global.ssl.fastly.net/site/css/index.544886c737.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>


	<script type="text/javascript" async="" src="//munchkin.marketo.net/munchkin.js"></script>
</div></head>
<body class="homepage" data-gr-c-s-loaded="true" style="">

	
	<header id="header-new" class="header-new" role="header">	
	<nav class="nav-container">

	

		<!-- toggles mobile nav; hidden on desktop -->
		<input class="hamburger-toggle" type="checkbox" name="drop-hamburger" id="drop-hamburger">
		<label class="hamburger" for="drop-hamburger">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</label>

		<!-- acts as cover for dropdown on mobile; hidden on desktop -->
		<div class="mobile-nav-cover"></div>

		<div class="nav--wrapper" style="display">
			<!-- main navigation -->
			<ul class="nav-list">

        <li class="nav-link--wrapper">
					<div class="nav-link">LEARN/OVERFLOW</div>
					<input class="nav-secondary--dropdown" type="checkbox" id="drop-products">
					<label for="drop-products">
						LEARN/OVERFLOW
						<div class="chevron"></div>
					</label>
					<ul class="nav--secondary-list" style="">
						<li class="nav-link--secondary">
							<a href="/profile">ABOUT</a>
						</li>
						<li class="nav-link--secondary">
							<a href="/profile/edit">GET STARTED</a>
						</li>
						<li class="nav-link--secondary">
							<a href="/logout">CONTACT US</a>
						</li>
					</ul>
				</li>

				<li class="nav-link--wrapper">
					<div class="nav-link">Profile</div>
					<input class="nav-secondary--dropdown" type="checkbox" id="drop-products">
					<label for="drop-products">
						Profile
						<div class="chevron"></div>
					</label>
					<ul class="nav--secondary-list" style="">
						<li class="nav-link--secondary">
							<a href="/profile">View</a>
						</li>
						<li class="nav-link--secondary">
							<a href="/profile/edit">Edit</a>
						</li>
						<li class="nav-link--secondary">
							<a href="/logout">Log out</a>
						</li>
					</ul>
				</li>
				<li class="nav-link--wrapper">
					<a href="/questions/new" class="nav-link pricing-link">Ask</a>
					<input class="nav-secondary--dropdown" type="checkbox" id="drop-pricing">
					<label class="pricing-link" for="drop-pricing">
						<a href="/questions/new">Ask</a>
					</label>
				</li>
				<li class="nav-link--wrapper">
					<a href="/questions" class="nav-link pricing-link">Answer</a>
					<input class="nav-secondary--dropdown" type="checkbox" id="drop-pricing">
					<label class="pricing-link" for="drop-pricing">
						<a href="/questions">Answer</a>
					</label>
				</li>
		</div>

		<!-- take a tour/sign in; desktop version; hidden on mobile -->
		<div class="nav--primary-right">
			<a href="https://github.com/login/oauth/authorize?scope=user:email&client_id=<%= client_id %>" class="nav--primary-button">Sign In</a>
			<a href="https://github.com/login/oauth/authorize?scope=user:email&client_id=<%= client_id %>" class="nav--primary-button">Sign up Now</a>
		</div>
	</nav>

</header>

<div class="main-overlay" style=""></div>
		
<section id="home_header" class="home-section" style="background-color:#00b3e6;">
	<div id="home_header_content" class="margin-container">
    
		<!-- <img src="https://prod-marketing-greenhouse.global.ssl.fastly.net/site/images/icons/logo-white.svg" alt="Greenhouse" class="logo"> -->
		<h1 class="hero-header">Learn and share like a developer</h1>
		<h2 class="hero-subheader">Learn/Overflow helps students understand concepts and labs by getting answers from their peers in a simple fortmat. Call this a stackoverflow for students!</h2>
		
    <a href="https://github.com/login/oauth/authorize?scope=user:email&client_id=<%= client_id %>" class="home-demo" style="background-color:#3a3a3a">Sign up Today</a>
	</div>
</section>
</body>
</html>




